
.spot.pos-1
  .detail
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "interviews/john-herrman.html"}
      John Herrman
  .pin
  .pin-title
    = "The Awl"

.spot.pos-2
  .detail
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "interviews/mitra-kaboli.html"}
      Mitra Kaboli
  .pin
  .pin-title
    = "The Heart"
.spot.pos-3
  .detail
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "interviews"}
      Emily Segal
  .pin
  .pin-title
    = "New York Times Magazine"
.spot.pos-4
  .detail
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "interviews/emily-segal.html"}
      Emily Segal
  .pin
  .pin-title
    = "Genius"
.spot.pos-5
  .detail
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "interviews/guga-chacra.html"}
      Guga Chacra
  .pin
  .pin-title
    = "Globo News"
.spot.pos-6
  .detail
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "interviews/nathan-jurgenson.html"}
      Nathan Jurgenson
  .pin
  .pin-title
    = "Snapchat"
.spot.pos-7
  .detail
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "interviews/mark-lotto.html"}
      Mark Lotto
  .pin
  .pin-title
    = "Medium/Matter"
.spot.pos-8
  .detail
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "interviews/keenan-duffey.html"}
      Keenan Duffey
  .pin
  .pin-title
    = "Syria Direct"
.spot.pos-9
  .detail
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "interviews/tariq-goddard.html"}
      Tariq Goddard
  .pin
  .pin-title
    = "Repeater Books"
.spot.pos-10
  .detail
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "interviews/anastasia-dennis.html"}
      Anastasia Dennis
  .pin
  .pin-title
    = "Refinery29"
.spot.pos-11
  .detail
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "interviews/victoria-taylor.html"}
      Victoria Taylor
  .pin
  .pin-title
    = "reddit"
.spot.pos-12
  .detail
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "interviews/ben-williams.html"}
      Ben Williams
  .pin
  .pin-title
    = "New York Magazine"
.spot.pos-13
  .detail
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "interviews/callie-beusman.html"}
      Callie Beusman
  .pin
  .pin-title
    = "Vice"
.spot.pos-14
  .detail
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "interviews/reihan-salam.html"}
      Reihan Salam
  .pin
  .pin-title
    = "National Review"