
.spot.pos-1
  .detail
    “The content wars have been hard on everyone.”
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "interviews/john-herrman.html"}
      John Herrman
  .pin
  .pin-title
    = "The Awl"

.spot.pos-2
  .detail
    Radio returns on the current of secret wierdo wavelengths
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "interviews/mitra-kaboli.html"}
      Mitra Kaboli
  .pin
  .pin-title
    = "The Heart"
.spot.pos-3
  .detail
    The New York Times at the center of the edge
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "/interviews/bill-wasik.html"}
      Bill Wasik
  .pin
  .pin-title
    = "New York Times Magazine"
.spot.pos-4
  .detail
    Genius.com's Center for Collective Intelligence
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "interviews/emily-segal.html"}
      Emily Segal
  .pin
  .pin-title
    = "Genius"
.spot.pos-5
  .detail
    Transcending  borders at the speed of international news
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "interviews/guga-chacra.html"}
      Guga Chacra
  .pin
  .pin-title
    = "Globo News"
.spot.pos-6
  .detail
    'DELETE' is not radical. 'DELETE' is the way that social interaction has always been.
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "interviews/nathan-jurgenson.html"}
      Nathan Jurgenson
  .pin
  .pin-title
    = "Snapchat"
.spot.pos-7
  .detail
    Why does medium matter? A discussion with Matter’s Editor-in-chief.
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "interviews/mark-lotto.html"}
      Mark Lotto
  .pin
  .pin-title
    = "Medium/Matter"
.spot.pos-8
  .detail
    Foreign correspondence in Syria is over.
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "interviews/keenan-duffey.html"}
      Keenan Duffey
  .pin
  .pin-title
    = "Syria Direct"
.spot.pos-9
  .detail
    Creating a culture in the margins
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "interviews/tariq-goddard.html"}
      Tariq Goddard
  .pin
  .pin-title
    = "Repeater Books"
.spot.pos-10
  .detail
    “This is a Brand's World”
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "interviews/anastasia-dennis.html"}
      Connie Wang
  .pin
  .pin-title
    = "Refinery29"
.spot.pos-11
  .detail
    Reddit's Director of Talent “helps” those who can't <em>f*$%ing</em> help themselves.
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "interviews/victoria-taylor.html"}
      Victoria Taylor
  .pin
  .pin-title
    = "reddit"
.spot.pos-12
  .detail
    Omniscience syndrome: <em>New York</em>'s view from everywhere.
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "interviews/ben-williams.html"}
      Ben Williams
  .pin
  .pin-title
    = "New York Magazine"
.spot.pos-13
  .detail
    “They said you SHOULD have your head cut off and get raped. They didn’t actually do it.”
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "interviews/callie-beusman.html"}
      Callie Beusman
  .pin
  .pin-title
    = "Vice"
.spot.pos-14
  .detail
    Off-Off Broadway: Reihan Salam, Two Scenes
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "interviews/reihan-salam.html"}
      Reihan Salam
  .pin
  .pin-title
    = "National Review"

.spot.pos-15
  .detail
    \#ItGetsBitter: Gay rights for rich gay whites and other imperialist pinkwashing logics of Gay Inc.
    %a.close{:href => "#"}= "×"
    %a.continue{:href => "interviews/dark-matter.html"}
      DarkMatter
  .pin
  .pin-title
    = "DarkMatter"