

#toc.modal.body
  %h1
    Media Landscape Two Thousand Fifteen 

  A critical overview of contemporary media from The New School 

  %hr

  %h3 Process
  
  .toc-item
    .toc-item-art
      -# = image_tag '#'
    %h4.toc-item-title
      %a{:href => "#"}
        Behind the Scenes
    %p.toc-byline
      The making of Media Landscape by the CPCJ’s first Multimedia Publishing, Production and Writing Lab 


  %h2 Table of Contents

  
  %h3 Editorial Note
  
  .toc-item
    .toc-item-art
      -# = image_tag '#'
    %h4.toc-item-title
      %a{:href => "#"}
        What Are the Stakes? 
    %p.toc-byline
  

  %h3 The IRL Feature
  
  .toc-item
    %h4.toc-item-title
      %a{:href => "https://vimeo.com/130199067"}
        The (New) New Republic
    %p.toc-byline
      All CPCJ Media interview subjects
  

  %h3 Interviews

  .toc-item
    .toc-item-art
      = image_tag 'logos/radiotopia.png'
    %h4.toc-item-title
      %a{:href => "/interviews/mitra-kaboli.html"}
        Let's Talk about Sex: "The Heart"
    %p.toc-byline
      Mitra Kaboli and Andreas Eckhartd-Laessoe

  .toc-item
    .toc-item-art
      = image_tag 'logos/genius.png'
    %h4.toc-item-title
      %a{:href => "/interviews/emily-segal.html"}
        The New Collective Intelligence: Genius
    %p.toc-byline
      Emily Segal and Cecilia Mezulic
  
  .toc-item
    .toc-item-art
      = image_tag 'logos/repeater-books.png'
    %h4.toc-item-title
      %a{:href => "/interviews/tariq-goddard.html"}
        Today's Books, Tommorrow: Repeater Books
    %p.toc-byline
      Tariq Goddard and Cerise Steel

  .toc-item
    .toc-item-art
      = image_tag 'logos/vice.png'
    %h4.toc-item-title
      %a{:href => "/interviews/callie-beusman.html"}
        Feminism in Cyberspace: Vice Women
    %p.toc-byline
      Callie Beusman, Chloe Gold and Cerise Steel

  .toc-item
    .toc-item-art
      = image_tag 'logos/the-awl.png'
    %h4.toc-item-title
      %a{:href => "/interviews/john-herrman.html"}
        The Media Beat: The Awl
    %p.toc-byline
      John Herrman and Gabriel Clermont

  .toc-item
    .toc-item-art
      -# = image_tag 'logos/vice.png'
    %h4.toc-item-title
      %a{:href => "/interviews/guga-chacra.html"}
        São Paulo to New York: Globo News
    %p.toc-byline
      Guga Chacra and Juliana Bechara

  .toc-item
    .toc-item-art
      = image_tag 'logos/new-york.png'
    %h4.toc-item-title
      %a{:href => "/interviews/ben-williams.html"}
        A New York State of Mind: New York Magazine and NYMag.com
    %p.toc-byline
      Ben Williams and Katherine Parker-Magyar

  .toc-item
    .toc-item-art
      = image_tag 'logos/times.png'
    %h4.toc-item-title
      %a{:href => "/interviews/bill-wasik.html"}
        The Gray Lady’s Cooler Cousin: New York Times Magazine
    %p.toc-byline
      Bill Wasik and Paula Duran

  .toc-item
    .toc-item-art
      = image_tag 'logos/reddit.png'
    %h4.toc-item-title
      %a{:href => "/interviews/victoria-taylor.html"}
        All Content; In Moderation: reddit
    %p.toc-byline
      Victoria Taylor and Sara Wilkins

  .toc-item
    .toc-item-art
      = image_tag 'logos/medium.png'
    %h4.toc-item-title
      %a{:href => "/interviews/mark-lotto.html"}
        The Age of Engagement: Medium/Matter
    %p.toc-byline
      Mark Lotto and Silje Kristine Andersen
  
  .toc-item
    .toc-item-art
      = image_tag 'logos/snapchat.png'
    %h4.toc-item-title
      %a{:href => "/interviews/nathan-jurgenson.html"}
        When Viral Goes Viral: Snapchat Discover
    %p.toc-byline
      Nathan Jurgenson and Troy O’Neill
  
  .toc-item
    .toc-item-art
      = image_tag 'logos/ref-29.png'
    %h4.toc-item-title
      %a{:href => "/interviews/connie-wang.html"}
        The Branding Age: Refinery 29
    %p.toc-byline
      Connie Wang and Anastasia Dennis

  .toc-item
    .toc-item-art
      = image_tag 'logos/ref-29.png'
    %h4.toc-item-title
      %a{:href => "/interviews/keenan-duffey.html"}
        Remote Control: Journalistic Objectivity from Abroad
    %p.toc-byline
      Keenan Duffy and Katherine Parker-Magyar


  %h3 Plus

  .toc-item
    .toc-item-art
      -# = image_tag 'logos/Vice_Logo.png'
    %h4.toc-item-title
      %a{:href => "/interviews/dark-matter.html "}
        No Homo … nationalism
    %p.toc-byline
      By DarkMatter

  .toc-item
    .toc-item-art
      -#= image_tag 'logos/Vice_Logo.png'
    %h4.toc-item-title
      %a{:href => "/interviews/reihan-salam.html"}
        "Tiny Mammal"
    %p.toc-byline
      A play by Shea Sweeney and Reihan Salam

  .toc-item
    .toc-item-art
      -#= image_tag 'logos/Vice_Logo.png'
    %h4.toc-item-title
      %a{:href => "#"}
      How We Consume Media Today: A Photo Essay [PDF]
    %p.toc-byline
      By Juliana Bechara and Paula Duran

  %h3 Panorama

  .toc-item
    .toc-item-art
    %h4.toc-item-title
      %a{:href => "#"}
      Experimental Works

