---
title: Map
---

- content_for :title, "CPCJ Media Landscape"

#about
  :markdown
    ## About this Project

    CPCJ Media Landscape 2015 is the product of a single-semester, student-led Multimedia Publishing, Production and Writing Lab for the [Creative Publishing and Critical Journalism MA](http://creative-publishing.org/) program at the New School for Social Research.

    Students from an intersection of schools and special programs within the New School University collaboratively developed the concept, form, content, design, and launch of Media Landscape as a diverse critical overview of contemporary media.

    See their process [here](http://www.cpcjmedia.tumblr.com).

    “On our the first day of class in the new Creative Publishing and Creative Journalism master's program at The New School it was clear that — despite all having different backgrounds, skills, and interests — we all wanted to create a magazine that focused on how media and politics intersect in crucial ways…. During the course of our project we have realized that nothing is static or guaranteed; our trial and error has challenged us to experiment just like every other media producer today. This makes our experimental magazine the biggest lesson that we have learned from the media industry itself.”

    – Excerpted from Media Landscape’s collective statement. <a href="javascript:void(0)" id="editor-note-trigger">Read the complete Editorial Note</a>.

  #editorial_note
    :markdown
      Our project name, Media Landscape, is paradoxical. One definition of a landscape is mere scenery, to be looked at like a pastoral painting in a museum; pretty but inaccessible. Yet, from where we stand, in New York City in May 2015, nothing could be further from the truth about the current state of media. Never before has the media industry elicited so much user participation. “Users” are encouraged to share, like, tweet, annotate and engage all day, every day, and have effectively been transformed from passive consumers into active producers of content.

      The media landscape today is also something that we can walk through, something that can be mapped out; that is what the CPCJ has set out to do. Our goal is to strategically connect different happenings in the media and publishing industries in a way that would show their future. However, media moves quickly. So, giving any sort of overview of the current situation is also a process of exclusion, or, to use a popular buzzword these days, curation. We focused on major changes that have happened within the last year, believing that the current climate is one of dramatic changes that will affect us all in years to come.

      For both the media industry and the world at large, perhaps the most important event this year has been #BlackLivesMatter and police brutality against people of color. In the past year, the attention on police brutality has made us all spectators of race crises in Ferguson and Baltimore. [Based on numbers going up to 2012](http://www.usatoday.com/story/news/nation/2014/08/14/police-killings-data/14060357/), one could say that acts of police violence probably have not been significantly worse than any other year. What’s changed is that now we can no longer ignore them. As we saw with the murder of Eric Garner on July 17 2014, evidence of police brutality was recorded uploaded on social media for all of us to see. The [American Civil Liberties Union](https://www.aclu.org/) has just launched [an app](https://www.youtube.com/watch?v=PSxcmE5qCGU) where you can upload recordings of police violence directly from your phone. The #BlackLivesMatter movement has highlighted this interconnected relationship between media, technology and social change. Amplifying this change, the plethora of previously marginalized voices now have their own platforms to speak from. This instant shareability has changed this entire dynamic, dramatically restructuring the way we consume media and our perception of the world, right in front of our eyes.

      However, it would be unfair to say that all of these changes are new. Of course, technology and media have always been interconnected. Think about Gutenberg or the mass distribution of Jonathan Swift’s satirical pamphlet “A modest proposal” during the Irish famine in the 18th century — or the infamous Vietnam War photo that sparked the mass protests in the US in the 1970’s. This being said, right now media is changing faster than ever before, making a number of systemic changes that are actually new. For example, user content has been incorporated on different media platforms with new vetting and moderation. Don’t think Facebook or Twitter: platforms like reddit, Medium, and Genius now incorporate new moderation and user commenting strategies. On Genius’ Beta feature, users can actually annotate any webpage on the internet. Similarly, today we all produce media as well as consume it. Something like #BlackLivesMatter has shown us that users now have the power to change the way history is written. Another great example is in Syria, where [Syria: Direct](http://syriadirect.org), a non­profit journalism organization, is reshaping the way that foreign correspondence works by interviewing on­ the­￼ground through social media. In this way the organization is also training a new generation of Syrian reporters on social media.

      Broadly speaking, we’re both paralyzed by the constant stream of news and enabled by it to participate in a previously unprecedented manner. For example, the evolution of social media’s own form has had dramatic consequences on the way that media corporations think about themselves. Having a website is no longer enough, you need to be present on every platform to survive, proving that last years [New York Times Innovation Report](http://www.scribd.com/doc/224608514/The-Full-New-York-Times-Innovation-Report#scribd) was prophetic, but should have been written five years earlier. In fact, mobile platforms mean that you might not even need a website. For example, Snapchat is creating their own platform, Discover, for tightly curated news content. This is something that goes completely against the viral economy, which currently is being spearheaded by media companies like Buzzfeed and The Huffington Post. Even though Buzzfeed is easily scoffed at, it has the most successful business model out there, with viral listicles that drive up clicks and ad­value that then fund in­depth journalism. This is how media has worked in at least the last 50 years, but it’s changing as new companies recognize that consumers are tired of corporate media and viral news. Now, websites like [Refinery29](http://www.refinery29.com) are modeling themselves after small advertising agencies, building a brand that is both strong and flexible. The take­away here is that the media and publishing industries are in constant mediation between consumer habits, technological ability, and whatever makes the most money.

      On our the first day of class in the new Creative Publishing and Creative Journalism master's program at The New School it was clear that — despite all having different backgrounds, skills, and interests — we all wanted to create a magazine that focused on how media and politics intersect in crucial ways. If Geraldo and Don Lemon’s [awkward presence](https://www.youtube.com/watch?v=jjUaAUhyPwk) during the riots in Baltimore showed us that there’s still a long way to go, pieces like this in­depth article from *[New York Times Magazine](http://www.nytimes.com/2015/05/10/magazine/our-demand-is-simple-stop-killing-us.html?_r=0)* or this off­the­cuff reaction in *[The Atlantic](http://www.theatlantic.com/politics/archive/2015/04/nonviolence-as-compliance/391640/)* prove that the efforts to end structural racism in the media industry have made a significant impact. These tectonic shifts in the media happen just as much in the streets of Ferguson, New York, and Baltimore as they do in newsrooms, newsfeeds, and mobile devices. This battleground is created by Facebook, Snapchat, reddit, and Twitter users.

      We are those tweeters, likers, commenters, and annotators. During the course of our project we have realized that nothing is static or guaranteed; our trial and error has challenged us to experiment just like every other media producer today. This makes our experimental magazine the biggest lesson that we have learned from the media industry itself.
      ­

      Signed CPCJ, Spring 2015

  .group
    %h5 Publishers
    .team-member
      %a#publisher-1.bio-trigger{:href => "javascript:void(0)"}
        = image_tag 'anastasia_2_360.gif'
    .team-member
      %a#publisher-2.bio-trigger{:href => "javascript:void(0)"}
        = image_tag 'andreas_3_360.gif'
    .team-member
      %a#publisher-3.bio-trigger{:href => "javascript:void(0)"}
        = image_tag 'carlo_7_360.gif'
  #publisher.bio-container
    #publisher-1-bio.bio
      %h3
        %a{:href => "https://instagram.com/anastasiadennis"} Anastasia Dennis
      %h4
        Design Editor/Brand Manager
      %p
        I’m at Parsons The New School For Design. I have worked as the assistant to Jim Carrey's personal stylist, for Donna Karan New York, and at Rent The Runway. Now entering my final year, I’m interested in entrepreneurship, and spending time in NYC exploring fashion, technology, e-commerce, writing and publishing.
    #publisher-2-bio.bio
      %h3
        Andreas Eckhardt-Læssøe
      %h4
        Senior editor
      %p
        Literature student and writer from Denmark. I write in Danish, so you’ll just have to trust me that it’s pretty good. I didn’t learn how to spell my name until I was 10, so I won’t hold it against you if you misspell it, but drop me a line if you want to talk about books, or whatever.
    #publisher-3-bio.bio
      %h3
        Carlo Mantuano
      %h4
        Senior Editor/Copy Editor
      %p
        I’m a writing and literature student at Eugene Lang College. By the time you read this, I’ll have graduated. I’ve loved basketball for twenty-two years and counting. When I was growing up, I always wanted to be Rasheed Wallace.
  .group
    %h5 Editors
    .team-member
      %a#editor-1.bio-trigger{:href => "javascript:void(0)"}
        = image_tag 'cerise_360.gif'
    .team-member
      %a#editor-2.bio-trigger{:href => "javascript:void(0)"}
        = image_tag 'katie_360.gif'
    .team-member
      %a#editor-3.bio-trigger{:href => "javascript:void(0)"}
        = image_tag 'sara_360.gif'

  #editor.bio-container
    #editor-1-bio.bio
      %h3
        %a{:href => "https://twitter.com/cerisesteel"} Cerise Steel
      %h4
        Managing Editor
      %p
        I’m a soon to be graduate of Creative Writing and Journalism from The New School. I’m from Seattle, but live in NYC. I’m a long distance and Cross Country runner. I once travelled around the world on a ship for five months. I write about what inspires me: food, running, outdoors, the places I’ve visited, and the people I’ve met.
    #editor-2-bio.bio
      %h3
        %a{:href => "https://twitter.com/kpm1231"} Katherine Parker-Magyar
      %h4
        Editor/Writer
      %p
        I’m a graduate student of literature in Liberal Studies at The New School, a communications analyst at Aegis Media, and pursuing a career in writing. I love to travel (anywhere and everywhere), engage in heated debates about the intellectual merits of popular culture (preferably over a glass of wine), and—now that the polar vortex has mercifully subsided—run along the East River.
    #editor-3-bio.bio
      %h3
        Sara Wilkins
      %h4
        Marketing Director
      %p
        I’m a journalist from Denmark who is currently based in Brooklyn, New York. Previously, I’ve worked for Danish newspapers and magazines, covering both daily news and investigative reporting on a wide range of subjects, especially business and economics. I’m also a Creative Publishing and Critical Journalism graduate student at The New School for Social Research.

  .thank-you
    %h3 Special Thanks
    :markdown
      * [Tyler Reinhard](https://twitter.com/abolishme)
      * [Mask Magazine](http://maskmag.com)
      * [Verso Books](http://www.versobooks.com/)
      * [Gray Beltran](https://twitter.com/graybeltran)
      * [Sam Lavigne](https://twitter.com/sam_lavigne)
      * Andrew Beccone
      * [DarkMatter](https://www.facebook.com/darkmatterpoetry)
      * [Talita Zaragoza](http://www.talitazaragoza.com)
      * James & Juliette
